.Weather {
  border-style: groove;
  padding: 25px 20px 0 20px;
}
.Weather li {
  list-style: none;
}
.Weather h1 {
  padding-top: 10px;
  text-align: center;
}
.Weather .searchCity {
  max-width: 500px;
  border-radius: 9px;
}
.Weather .search-input {
  background-color: #f5c3b2;
}
.Weather .button-icon {
  height: 25px;
  width: 25px;
}
.Weather .searchButtons {
  background-color: #df4e1d;
  border: none;
}
.Weather .date {
  text-align: center;
}
.Weather .current-weather {
  padding: 5% 0;
}
.Weather .display-temperature {
  text-align: center;
}
.Weather .description {
  display: block;
  text-align: center;
}
