.Weather {
  border-style: solid;
  padding: 25px 20px 10px 20px;
  border-radius: 5px;
  border-color: #6dc9ee;
  box-shadow: 2px 2px 4px rgb(46, 45, 45), -2px -2px 4px rgb(46, 45, 45);
}
.Weather li {
  list-style: none;
}
.Weather h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 35px;
}
.Weather .searchCity {
  max-width: 700px;
  width: 90%;
  border-radius: 9px;
}
.Weather .search-input {
  background-color: rgba(150, 177, 192, 0.2);
  border-color: #4a9ecf;
}
.Weather .button-icon {
  height: 25px;
  width: 25px;
}
.Weather .searchButton {
  background-color: #4a9ecf;
  border: none;
  border-radius: 0;
}
.Weather .searchButton:hover {
  background-color: #387aa0;
  border: thick;
}
.Weather .locationButton {
  background-color: #4a9ecf;
  border: none;
  border-radius: 0 4px 4px 0;
}
.Weather .locationButton:hover {
  background-color: #387aa0;
  border: thick;
}
.WeatherInfo h1 {
  font-size: 32px;
}
.WeatherInfo .date {
  text-align: center;
}
.WeatherInfo .current-weather {
  padding: 5% 0;
}
.WeatherInfo .display-temperature {
  text-align: center;
}
.WeatherInfo canvas {
  width: 60px;
  height: 60px;
}
.WeatherInfo .temperature {
  font-size: 50px;
}
.WeatherInfo .units {
  font-size: 20px;
}
